@charset "UTF-8";


/*-----------------
	Default Set
-----------------*/
.color_t1 {
    /*Text*/
    color: #046;
}

.color_b1 {
    /*Background*/
    background-color: #FFF;
}

.color_t1n,
/*Negative*/
main #search #keyword article .close_keywords:after {
    color: #FFF;
}

.color_b1n,
main #search #keyword article .close_keywords:after {
    background-color: #046;
}

.color_t2 {
    color: #420;
}

.color_b2 {
    background-color: #E8D8B8;
}

.unsubmit {
    color: #D00;
    font-weight: bold;
}

body.info main article .headline,
body.info main article textarea {}

@media (min-width: 768px) {
    body.search main #result table {
        border-color: #E8D8B8;
    }

    body.search main table tbody td {
        border-color: #E8D8B8;
    }
}

@media (max-width: 767px) {

    body.search main table tbody tr td[data-th],
    body.search main table tbody td.controller {
        color: #420;
        background-color: #E8D8B8;
    }

    body.search main table tbody tr td.school,
    body.search main table tbody tr td.content,
    body.search main table tbody tr td.comment,
    body.search main table tbody tr td.reply {
        border-color: #E8D8B8;
    }
}

body.report main section table.achievement th {
    border-color: #CCC;
}


/*-----------------
	Custom HY
-----------------*/
body.hy header div section#userID {
    margin-right: 8px;
}

body.report.hy main section table.achievement caption {
    font-size: 1.6rem;
}

body.report.hy main section table.achievement caption dd input,
body.report.hy main section table.achievement caption dd select {
    font-size: 1.6rem;
}

body.info.hy main h1 .update,
body.search.hy #search .buttons button,
body.search.hy #search .buttons .search,
body.search.hy main table tbody tr td.no a,
body.search.hy main #new .new {
    box-sizing: border-box;
    background-color: #240;
    border: outset .25em #240;
    padding: .25em 0;
    border-radius: .25em;
}

body.search.hy #search .buttons button,
body.search.hy #search .buttons .search,
body.search.hy main #new .new {
    border-width: .5em;
}

body.report.hy main div#submission a,
body.report.hy main div#submission form button,
body.report.hy main section h1 span.buttons button,
body.report.hy main section h2 span.buttons button {
    background-color: #240;
    border: outset .5em #240;
    padding: .25em;
    border-radius: .25em;
}

body.report.hy main div#submission form button span {
    padding: 0;
    border: none;
}

body.report.hy main div#summary {
    background-color: #E8E8E9;
    border-top: none;
}

body.report.hy main div#summary textarea {}

body.report.hy main section table.achievement th {
    text-align: center;
}

body.report.hy main section table.achievement td {
    border-left: solid 1px #CCC;
}

body.report.hy main section table.achievement td:first-child {
    border-left: none;
}


/*-----------------
	Custom HY #2
-----------------*/
body.hy2 header div section#userID {
    margin-right: 8px;
}

body.report.hy2 main section table.achievement caption {
    font-size: 1.6rem;
}

body.report.hy2 main section table.achievement caption dd input,
body.report.hy2 main section table.achievement caption dd select {
    font-size: 1.6rem;
}

body.info.hy2 main h1 .update,
body.search.hy2 #search .buttons button,
body.search.hy2 #search .buttons .search,
body.search.hy2 main table tbody tr td.no a,
body.search.hy2 main #new .new {
    box-sizing: border-box;
    background-color: #250;
    padding: .5em .25em;
    border-radius: .25em;
}

body.search.hy2 #search .buttons button,
body.search.hy2 #search .buttons .search,
body.search.hy2 main #new .new {
    padding: .75em .25em;
}

body.report.hy2 main div#submission a,
body.report.hy2 main div#submission form button,
body.report.hy2 main section h1 span.buttons button,
body.report.hy2 main section h2 span.buttons button {
    background-color: #250;
    padding: .75em .25em;
    border-radius: .25em;
}

body.report.hy2 main div#submission a {
    padding: .75em .5em;
}

body.report.hy2 main div#submission form button span {
    padding: 0;
    border: none;
}

body.report.hy2 main div#summary {
    background-color: #046;
    color: #FFF;
    border-top: none;
}

body.report.hy2 main div#summary textarea {
    color: #FFF;
}

body.report.hy2 main section table.achievement th {
    text-align: center;
}

body.report.hy2 main section table.achievement td {
    border-left: solid 1px #CCC;
}

body.report.hy2 main section table.achievement td:first-child {
    border-left: none;
}



/*--------------------
	Night Mode Set
--------------------*/
body.night {
    color: #FFF;
    background-color: #000;
}

body.night input[type="text"],
body.night textarea {
    color: #FFF;
}

body.night .color_t1 {
    /*Text*/
    color: #0FF;
}

body.night .color_b1 {
    /*Background*/
    background-color: #000;
}

body.night .color_t1n,
/*Negative*/
body.night main #search #keyword article .close_keywords:after {
    color: #000;
}

body.night .color_b1n,
body.night main #search #keyword article .close_keywords:after {
    background-color: #D00;
}

body.night .color_t2 {
    color: #000;
}

body.night .color_b2 {
    background-color: #F80;
}

body.info.night main article .headline,
body.info.night main article textarea {
    color: #FFF;
}

body.search.night main #search input,
body.night main select,
body.report.night main #demand input[type="date"] {
    color: #F80;
}

body.night header div section#siteID {
    filter: invert(1) hue-rotate(145deg) saturate(5);
}

@media (min-width: 768px) {
    body.search.night main #result table {
        border-color: #F80;
    }

    body.search.night main table tbody td {
        border-color: #F80;
    }
}

@media (max-width: 767px) {

    body.search.night main table tbody tr td[data-th],
    body.search.night main table tbody td.controller {
        color: #000;
        background-color: #F80;
    }

    body.search.night main table tbody tr td.school,
    body.search.night main table tbody tr td.content,
    body.search.night main table tbody tr td.comment,
    body.search.night main table tbody tr td.reply {
        border-color: #F80;
    }
}

body.report.night main section table.achievement th {
    border-color: #F80;
}
