@charset "UTF-8";

body.info main div {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
}

body.info main div section,
body.info main div section form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body.info main div section form {
    align-items: center;
    width: 100%;
}

body.info main h1.headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

body.info main h1.headline strong {
    padding: .5em;
    font-size: 1.4rem;
    line-height: 1.2;
}

@media (max-width: 767px) {
    body.info main h1.headline strong {
        font-size: 1.6rem;
    }
}

body.info main h1.headline strong span {
    display: inline-block;
}

body.info main h1.headline>span {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

body.info main h1.headline .update {
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: .25em;
    width: 7em;
    margin: .25em;

    display: flex;
    justify-content: center;
    align-items: center;
}

body.info main h1.headline .update::before {
    font-family: 'IcoMoon-Free' !important;
    content: "\e907";
    margin-right: .25em;
}

@media (max-width: 767px) {
    body.info main h1.headline .update {
        font-size: 1.6rem;
    }
}




/*
body.info main article {
	white-space: pre-line;
	max-width: 1000px;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: .1em;
	padding: 8px;
}
body.info main article h1 {
	margin-bottom: .5em;
}
@media (max-width: 767px) {
	body.info main article {
		font-size: 1.6rem;
	}
}*/


body.info main textarea {
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;

    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: .1em;
    resize: none;
    width: 100%;
    flex-grow: 1;
    min-height: 60vh;

    padding: 8px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    body.info main textarea {
        font-size: 1.6rem;
        padding: 8px;
    }
}


body.info main article {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

/*
body.info main article .title {
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    font-weight: bold;
	font-size: 1.6rem;
    margin: .5em 0;
    display: block;
    border-bottom: 1px solid #DDD;
    
    margin: .5em 16px;
}
@media (max-width: 767px) {
	body.info main article .title {
		font-size: 1.8rem;
		margin: .5em 0;
	}
}
body.info main article .textbody {
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: .1em;
	resize: none;
	width: 100%;
    flex-grow: 1;
    min-height: 60vh;
    
    padding: 0 16px;
    box-sizing: border-box;
}
@media (max-width: 767px) {
	body.info main article .textbody {
		font-size: 1.6rem;
		padding: 0;
	}
}*/
